* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator {
    background-color: red;
    width: 50%;
    margin: 0 auto;
    border-collapse: collapse;
}

.calculator-head {
 text-align: center;   
}

.result-input {
    width: 90%;
}

.calculator-body {
    width: 80%;
    text-align: center;
}


@media(max-width:850px){
    .calculator {
        width: 80%;
    }

    
}

