* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: linear-gradient(90deg, RGB(7, 3, 70), RGB(7, 14, 90), RGB(7, 34, 135));
}

.tittle {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    margin-top: 1em;
}

.calculator {
    background-color: RGB(105, 62, 134);
    width: 50%;
    margin: 0 auto;
    
    margin-top: 2em;
    border-collapse: collapse;
    border: 1px solid #000;
}

.calculator-head {
 text-align: center;   
}

.result-input {
    width: 80%;
    padding: 15px;
    height: 3em;
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
    border-radius: 5px;
    
}

.calculator-body {
    width: 80%;
    text-align: center;
}

.number-button, .operator-button{
    width: 100%;
    padding: 1em;
    font-family: 'Press Start 2P', cursive;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.number-button:hover, .operator-button:hover{
    background-color: #b8b8b8;
    cursor: pointer;
}

.calculator-body tr td:nth-child(4){
    width: 30%;
}

@media(max-width:850px){
    .calculator {
        width: 80%;
    }
}

